html,
body {
  width: 100%;
  height: 100%;
  background-color: #0a101e;
}
header {
  height: 80px;
  position: fixed;
  background-color: #070d1b ;
  z-index: 200;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.link {
  text-decoration: none !important;
  color: white !important;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;

}


.disable-select {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

#particles-js {
  width: 100%;
  height: 100%;
  background-color: #070d1b;
}




canvas {
  display: block;
  height: 80vh;
  width: 100vw;
  background-attachment: fixed;
}

.panel {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
}

.squarebox {
  background-color: #0b111f;
  height: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  display: flex;
  flex-direction: column;


}

.name, .subname {
  text-align: center;
  color: #fec544;
  font-size: 32px;
  font-weight: 500;
}

.subname {
  margin-top: 32px;
}

.name::before {
  content: "";
  position: absolute;
  background-color: #3f4551;
  width: 150px;
  height: 2px;
  bottom: -16px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.name::after {
  content: "";
  position: absolute;
  background-color: #fec544;
  width: 50px;
  height: 2px;
  bottom: -16px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.icon-button {
  background-color: #070d1b;
  border-radius: 50px;
  display: flex;
  align-items: center; 
  margin-left: 5px;
  margin-right: 5px;
  border: 0.5px solid #3f4551;
}
.icon {
  font-size: 22px;
  text-decoration: none !important;
  color: #a9adb8 !important;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.vr {
  opacity: 1;
  color: #3f4551;
  width: 2px;
}

.section-heading {
  position: relative;
  margin-bottom: 50px;
}

.section-title {
  color: #fec544;
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  z-index: 10;
}

.section-title::before {
  content: "";
  position: absolute;
  background-color: #3f4551;
  width: 150px;
  height: 2px;
  bottom: -16px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.section-title::after {
  content: "";
  position: absolute;
  background-color: #fec544;
  width: 50px;
  height: 2px;
  bottom: -16px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.section-subtitle {
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 80px;
  font-weight: 700;
  color: rgba(21, 27, 41, 0.5);
  margin: 0;
  margin-top: 0px;
  margin-top: -20px;
  width: 100%;
  text-align: center;
}

ul {
  list-style: none;
  padding-left: 0px;
}

li span:first-child {
  display: inline-block;
  width: 120px;
  margin-right: -5px;
}
li span:last-child {
  margin-left: 10px;
}

.btn-primary {
  background-color: #fec544 !important;
  border-color: #fec544 !important;
  color: #0b111f !important;
  box-shadow: none !important;
  border-radius: 50px;
  width: 130px;
  margin-top: 15px;
}

.card {
  display: flex;
  border: 1px solid #232935;
  background-color: #101624;
  color: #a9adb8;
  align-items: center;
  justify-content: center;
  height: 200px;
  margin: 10px 10px 10px 10px;
}

.card:hover .icon-interests, .card:hover h2 {
  color: #fec544;  
}

.card:hover {
  color: #fec544;
  box-shadow: 0 0 5px #fec544;
}

.card h2 {
  margin-top: 10px;
  color: white;
  font-size: 22px;
}

.icon-interests {
  font-size: 35px;
  text-decoration: none;
  color: #a9adb8 ;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.input-text {
  display: block;
    width: 100%;
    color: #a9adb8;
    padding: 12px 20px;
    border: 1px solid #232935;
    background-color: #101624;
    height: 52px;
    border-radius: 7px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    margin-bottom: 20px;
}

.input-textarea {
  display: block;
  width: 100%;
  color: #a9adb8;
  padding: 12px 20px;
  border: 1px solid #232935;
  background-color: #101624;
  height: 52px;
  border-radius: 7px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  height: 150px;
}

footer {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8b8f9b;
  background-color: #070d1b;
}

@media screen and (max-width: 1200px) {
  .section-subtitle {
    display: none;
  }
}